.add-marker-modal {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(20, 23, 27, 75%);
  &__wrap {
    font-family: "SegoeUIBold", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $fourthColor;
    border-radius: 8px;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.75);
    padding: 0 20px;
  }
  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  &__input {
    min-height: 30px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    color: $fourthColor;
    min-width: 100%;
    margin-bottom: 10px;
    &:placeholder {
      color: $thirdColor;
    }
  }
  &__btn {
    min-width: 100%;
    min-height: 34px;
    border: solid 3px $firstColor;
    border-radius: 50px;
    background: $secondColor;
    font-family: "SegoeUIBold", sans-serif;
    color: $firstColor;
    font-size: 18px;
    padding-bottom: 4px;
    margin-top: 10px;
    transition: color $firstDuration, border $firstDuration;
    cursor: pointer;
    &:hover {
      color: $fourthColor;
      border: solid 3px $thirdColor;
    }
  }
  &__error {
    font-family: "SegoeUI", sans-serif;
    color: $secondColor;
    font-size: 14px;
    padding-top: 8px;
  }
}
