.header {
  margin-top: 30px;
  &__title {
    color: $secondColor;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 26px;
  }

  &__subtitle {
    color: $thirdColor;
    font-family: "SegoeUIRegular", sans-serif;
    font-size: 18px;
    margin-top: 10px;
  }
}
